*.aux
*.out
*.log
*.fls
*.toc
*.fdb_latexmk
*.synctex.*
_minted-*

__pycache__/
venv/

.idea/
.vscode/

*.txt
!palavras.txt
!os_maias_init.txt
!cleanwords.txt
!teste.txt
!outputs/*
!en.txt
!pt.txt

.DS_Store

